<!--The content below is only a placeholder and can be replaced.-->
<app-infinite-scroll (scrolled)="onScroll()">
  <div class="card" *ngFor="let band of searchSet">
    <div class="card-body">
      <h5 class="card-title">{{ band.showname }}</h5>
      <p class="card-text">{{ band.text }}</p>
    </div>
    <div class="card-footer bg-transparent border-success">
        <a href="#" class="card-link">Add to watch list</a>
        <a href="#" class="card-link">Like</a>
    </div>
  </div>
  <div class="alert alert-dark" *ngIf="isLoading$ | async">
    Fetching data....
  </div>
</app-infinite-scroll>

<router-outlet></router-outlet>
